<main class="d-flex flex-column h-100 bg-danger">
    <header class="bg-secondary text-light topo p-2">
        <a class="navbar-brand" routerLink="/">WEB-JASPER</a>
    </header>
    <section class="corpo-editor d-flex bg-info">
        <div class="bg-success text-light barra-ferrmentas">
            <app-relatorio-inpector></app-relatorio-inpector>
            <div>
                <button type="button" (click)="maisZoom()" style="z-index: 99;">Zoom +</button>
                <button type="button" (click)="menosZoom()" style="z-index: 99;">Zoom -</button>
                <button type="button" (click)="zeroZoom()" style="z-index: 99;">100%</button>
            </div>
        </div>
        <div class="flex-fill bg-light p-2 ">
            <app-report-canvas #canvas></app-report-canvas>
        </div>
        <div class="bg-gradient bg-dark text-light barra-components">
            <app-lateral-direito></app-lateral-direito>
        </div>
    </section>
    <footer class="bg-light topo p-2">
        FOOTER
    </footer>
</main>