<main class="container-fluid d-flex flex-column h-100 bg-danger">
    <header class="bg-secondary text-light">
        <a class="navbar-brand" routerLink="/">WEB-JASPER</a>
    </header>
    <section class="corpo-editor d-flex bg-info">
        <div class="bg-success text-light barra-ferrmentas">
            <app-relatorio-inpector></app-relatorio-inpector>
        </div>
        <div class="flex-fill bg-light p-2">
            <app-report-canvas #canvas></app-report-canvas>
        </div>
        <div class="bg-gradient bg-dark text-light barra-components">
            <app-lateral-direito></app-lateral-direito>
        </div> 
    </section> 
    <footer class="bg-light">
        FOOTER
    </footer>
</main>