<main class="container-fluid d-flex flex-column h-100 bg-danger">
    <header class="bg-secondary text-light">
        <a class="navbar-brand" routerLink="/">WEB-JASPER</a>
    </header>
    <section class="corpo-editor d-flex bg-info">
        <div class="bg-success text-light barra-ferrmentas">
            Ferramentas - lateral esquerda
        </div>
        <div class="flex-fill bg-light p-2">
            <canvas #canvas></canvas>
        </div>
        <div class="bg-gradient bg-dark text-light barra-components">
            Componentes e atributos - laterial direita
        </div> 
    </section> 
    <footer class="bg-light">
        FOOTER
    </footer>
</main>